body    {
    background-color: black;
}

#header {
    height: 350px;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    border: 10px dotted white;
}

h1  {
    color: white;
}

h3{
    color: yellow;
}

#container  {
    height: 480px;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 10px dotted white;
    border-bottom: 10px dotted white;

}


#leftColumn {
    background-color: black;
    border-right: 5px dashed white;
    height: 450px;
    width: 275px;
    float: left;
    padding: 10px;
    text-align: center;
    color: white;
}

#rightColumn    {
    background-color: black;
    height: 450px;
    width: 275px;
    float: left;
    padding: 10px;
    text-align: center;
    color: white;
}

#currentWord    {
    display: none;
}

#word   {
    font-size: 30px;
}

#wins   {
    color: green;
}

#losses {
    color: red;
}

#winMessage {
    display: none;
    color: green;
}

#loseMessage   {
    display: none;
    color: red;
}